h1 {
    color: crimson;
    font-size: 50px;
}

p {
    color: dimgray;
    font-size: small;
}

table, tr, td {
    border: solid cornsilk;
}

a:link {
    text-decoration: none;
}

ul {
    list-style-type: square;
}